@page
@model WebApplication1.Pages.CityManager.CreateCity

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
<div>
    <form method="post">
        <h1>Cadastro de Cidades:</h1>
        <label asp-for="Cidade.CityName">Nome da Cidade:</label>
        <input asp-for="Cidade.CityName"/>
        <span asp-validation-for="Cidade.CityName" class="text-danger text-decoration-underline"></span>
        
        <button type="submit">Cadastrar</button>
    </form>
    @if (ModelState.IsValid && HttpContext.Request.Method == "POST")
    {
        <div>
            <p>Cidade cadastrada: @Model.Cidade.CityName</p>
            <a asp-page="CityManager/CityDetails">Detalhas</a>
        </div>
    }
</div>
</body>
</html>